@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
	box-sizing: border-box;    /* changes width property to total width instead of content width */

}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
	display: block;   /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}

.condish {
	border: 1px solid sienna;
	padding: .5em;
	margin: 1em;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rightnow {
	border: 1px solid sienna;
	padding: .5em;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	margin: -1px;  /* remove any margin from body to avoid unsightly gaps. */
	background-color: salmon; 
	font-family: "Helvetica";
	background: url(images/MQy6rhu.jpg);
	background-size: cover;
	
}

/* added a nice background color */
header, footer {
	background-color: #A6D8DB;
}

main {
	/* make everything in the middle */
	display: flex;
	flex-flow: column nowrap;
	align-items: center; 
}

ul {
	/* remove bullets and get it organized */
	list-style-type: none;
	display: flex;
}

nav ul{
	/* make the nav bar more accessible */
	margin-top: 3em;
	margin-bottom: 3em;
	bottom: 0;
	left: 0;
	right: 0;
	/* made it look pretty */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 1em;
		background-color: #F07C6C;
	}

nav a:link {
	text-decoration: none;
	color: #47556F;
}

ul.foots {
	margin-bottom: 1.5em;
}

li {
	/* seperate the list items */
	padding: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Sansita, "second choice", generic-family;
}

h3 {
/* get the sub-title the to right side */	
text-align: right;
margin-top: 0.5em;	
margin-right: 3em;
}

section.current-conditions {
	text-align: center
}

section.hourly {
	text-align: center;
}

p {
	margin: 5px;
}
