@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
	box-sizing: border-box;    /* changes width property to total width instead of content width */

}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
	display: block;   /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}

.condish {
	border: 1px solid sienna;
	border-radius: 20px;	
	padding: .5em;
	margin: 0.25em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rightnow {
	border: 1px solid sienna;
	border-radius: 20px;
	width: 25%;
	padding: 0.5em;
	margin: 0.25em;
	width: 200px;
	background: url(images/white_beach_e27c6b40-9d8d-4f95-86e4-094b21793862.webp);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hourly {
	text-align: center;
	border: 1px solid sienna;
	border-radius: 20px;
	max-height: 12em;
	overflow: auto;
	padding: 0.5em;
	margin: 0.25em;
}

body {
	margin: -1px;  /* remove any margin from body to avoid unsightly gaps. */
	background-color: salmon; 
	font-family: "Helvetica";
	background: url(images/MQy6rhu.jpg);
	background-size: cover;
	
}

/* added a nice background color */
header, footer {
	background-color: #A6D8DB;
}

main {
	/* make everything in the middle */
	display: flex;
	flex-flow: column nowrap;
	align-items: center; 
}

ul {
	/* remove bullets and get it organized */
	list-style-type: none;
	display: flex;
	align-content: stretch;
	
}

nav ul {
	/* make the nav bar more accessible */
	margin-top: 2em;
	margin-bottom: 2em;
	padding-right: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	/* made it look pretty */
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 1em;
	background-color: #F07C6C;
	
}

nav a:link {
	text-decoration: none;
	color: #47556F;
}

ul.foots {
	margin-bottom: 1.5em;
}

li {
	/* seperate the list items */
	padding: 0.5em;
	display: flex;
}

section.franklin {
	font-family: Sansita, "second choice", generic-family;
	font-size: 1.3em;
}


h2,
h4,
h5,
h6 {
	font-family: Sansita, "second choice", generic-family;
}

h2 {
	margin: 0.2em;
}

h3 {
/* get the sub-title the to right side */	
text-align: right;
margin-top: 0.5em;	
margin-right: 3em;
}

info h3 {
	font-family: Sansita, "second choice", generic-family;
}

section.current-conditions {
	text-align: center
}

p {
	margin: 5px;
}

@media screen and (min-width: 34em) {
	.title {
		width: 20em;
	}
	
	.info {
		display: flex;
		justify-content: space-between;
	}
	
	ul.nav {
		display: flex;
		align-items: flex-start;
		
	}
	
	body {
		width: 80%;
		max-width: 800px;
		margin: auto;
	}
	
	main {	
	flex-direction: row;
	align-items: stretch;
	
}
	
	.rightnow {
		display: flex;
		order: 1;
	}
	
	.condish {
		display: flex;
		order: 0;
	}

	.hourly {
		order: 2;
	}
	
main > section {
	flex: 1 0 30%;
}
	
}
