@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Muli');

* {
	box-sizing: border-box;    /* changes width property to total width instead of content width */
}

h1,
h2,
h3,
h4 {
	font-family: 'Muli', sans-serif;
}

#header {
	font-family: 'Allerta Stencil', sans-serif;
	color: #deb889;
	text-align: center;
	font-size: 3em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	text-decoration: underline;
}

#me {
	width: 95%;
	max-width: 300px;
	max-height: 300px;
	height: 575px;
	display: block;
	margin: 0 auto;
	max-height: 400px;
	max-width: 300px;
	border: 0.5px solid black;
	
}

#drinkies {
	width: 49%;
	height: 250px;
}

#foodsies {
	width: 49%;
	height: 250px;
	float: right;
}

#dyi-home {
	width: 80%;
	height: 250px;
	margin-left: 9.5%;
}

.drunk {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#eat {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	background-color: #8BB0B8;
}

h3 {
	text-align: center;
	font-family: 'Muli', sans-serif;
	margin-top: 0.2em;
}

nav ul {
	display: block;
	bottom: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #A72D0F;
	position: relative;
	
	
}

ul {
	list-style-type: none;
}

li {
	float: none;
	border-bottom: 0.7px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 1.1em;
	padding: 10.5px 12px;
	text-decoration: none;
}

li a:hover {
	background-color: #deb889;
}

img {
	display: inline;
	margin-top: 0.3em;
	border-color: black;
	border-radius: 5%;
}

#pink-lady {
	
	height: 400px;
}

#mountain-dews {
	width: 65%;
	height: 300px;
}

#oceanW {
	height: 300px;
}

#cherries {
	height: 300px;
}

#chilli {
	width: 80%;
}

#sticks {
	height: 300px;
	width: 80%;
}

#pork {
	margin-bottom: 10px;
	height: 300px;
	width: 90%;
}

#club {
	margin-bottom: 10px;
	height: 300px;
}

#buffalo {
	width: 80%;
	height: 350px;
}

#muddy {
	width: 80%;
	height: 250px;
}

#churro {
	width: 70%;
	height: 350px;
}

#scotch {
	width: 70%;
	height: 300px;
	margin-bottom: 10px;
}


section.me-me-me {
	font-family: 'Muli', sans-serif;
	text-indent: 30px;
	text-align: left;
}


@media(min-width: 650px) {
	section.guide {
		display: inline-block;
		justify-content: center;
	}
	
	#nav ul li {
		display: inline-block;
		list-style-type: none;
		text-align: center;
	}
	
	#drinkies {
		max-width: 38%;
		margin-left: 75px;
	}
	
	#foodsies {
		max-width: 38%;
		margin-right: 75px;
	}
	
	#dyi-home {
		max-width: 45%;
	}
	
	#me {
		max-width: 350px;
		border: 0.5px solid black;
	}
	
	.drunk {
		display: flex;
		flex-direction: row;
	}
	
	#pink-lady {
		margin-bottom: 15px;
	}
	
	#mountain-dews {
		max-width: 400px;
		margin-left: 40px;
	}
	
	#dyi-home {
		max-width: 65%;
		margin-top: 15px;
		margin-left: 17.5%;
		margin-right: 17.5%;
	}
	
	section.guide img {
		border: 0.5px solid black;
	}
	
	#eat {
		display: flex;
		flex-direction: row;
		margin-left: 15px;
	}
	
	#chilli {
		max-width: 250px;
		max-height: 250px;
	}
	
	#sticks {
		max-width: 250px;
		max-height: 250px;
		margin-left: 20px;
		margin-right: 5px;
	}
	
	#pork {
		max-width: 330px;
		max-height: 275px;
		margin-right: 10px;
		margin-left: 10px;
		border: 0.5px solid black;
	}
	
	#club {
		max-width: 330px;
		max-height: 275px;
		margin-left: 10px;
		border: 0.5px solid black;
	}
	
	#home {
		display: flex;
		flex-direction: row;
	}
	
	#buffalo {
		max-width: 300px;
		max-height: 325px;
		border: 0.5px solid black;
		margin-bottom: 10px;
	}
	
	#muddy {
		max-width: 350px;
		max-height: 350px;
		margin-left: 5px;
		border: 0.5px solid black;
	}
	
	#churro {
		max-width: 350px;
		max-height: 325px;
		margin-left: 5px;
		margin-bottom: 10px;
		border: 0.5px solid black;
	}
	
	#scotch {
		max-width: 250px;
		max-height: 350px;
		margin-left: 5px;
		border: 0.5px solid black;
	}
}
